html,
body {
    margin: 0;
    background: #eff2fa;
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    user-select: none;
    color: #555;
}

body {
    display: flex;
    flex-flow: column;
}

img {
    -webkit-user-drag: none;
}

.container {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    display: inline-block;
    min-width: 50px;
    min-height: 25px;
    box-shadow: 0 9px 19px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.1);
}

img.container {
    padding: 0px;
}

.card {
    background: transparent;
    padding: 0px;
    display: flex;
    flex-flow: column;
    transition: box-shadow 0.1s linear;
    box-shadow: 0 9px 19px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.a.card:hover {
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0), 0 15px 6px rgba(0, 0, 0, 0);
}

.card>.title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    display: block;
    background: white;
    flex: 0 1 auto;
}

.card>.content {
    padding: 20px;
    flex: 1 1 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card>.content.img {
    padding: 0px;
    background-size: cover;
    background-position: center center;
}

#container {
    flex: 1 1 auto;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#navigation {
    flex: 0 1 auto;
    height: 100%;
    max-height: 100%;
    background: white;
    display: inline-block;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.03), 0 15px 12px rgba(0, 0, 0, 0.03);
    padding: 20px;
    text-align: center;
}

#navigation>.separator {
    width: calc(100% + 40px);
    height: 1px;
    display: block;
    background: #eff2fa;
    margin-left: -20px;
    margin-right: -20px;
    z-index: 0;
    position: relative;
}

#navigation>.element {
    z-index: 1;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15px;
    display: block;
    width: 7vw;
    height: 7vw;
    box-shadow: 0 9px 19px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s linear;
}

#navigation>.element:first-of-type {
    margin-top: 0px;
}

#navigation>#settings.element {
    background: #F5F6FF;
}

#navigation>#settings.element>img {
    filter: brightness(0) saturate(100%) invert(50%);
    width: 100%;
}

#navigation>.element:hover,
#navigation>.element.active {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0);
}

#content {
    flex: 1 1 auto;
    display: flex;
    padding: 15px;
}

#controls {
    z-index: 99999;
    background: white;
    flex: 0 1 auto;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    -moz-user-select: none;
    user-select: none;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #eff2fa;
}

#controls>.title {
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
}

#controls>span.button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    float: right;
    border: 5px solid white;
    -webkit-app-region: no-drag;
    opacity: 0.6;
    transition: opacity 0.1s linear;
}

#controls>span.button:hover {
    opacity: 1;
}

#minimize-button {
    background: rgb(255, 217, 0);
}

#close-button {
    background: rgb(255, 61, 61);
}

#message-box {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s linear;
}

#message-box.visible {
    pointer-events: all;
    opacity: 1;
}

#message-box>.container {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    background: #eff2fa;
}

#message-box .mb-buttons {
    border-top: 1px solid white;
    display: block;
    text-align: right;
    margin-top: 15px;
    padding-top: 15px;
}

#vignette {
    position: fixed;
    top: 0;
    left: 0;
    right: 1px;
    bottom: 1px;
    z-index: 999999;
    border-radius: 8px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

button {
    background: white;
    padding: 10px;
    margin: 5px;
    border: 1px solid #eff2fa;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 3px 6px rgba(0, 0, 0, 0.13);
    transition: box-shadow 0.1s linear;
}

button:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
}

input[type="text"] {
    background: white;
    padding: 10px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
    transition: border 0.1s linear;
    outline: 0;
}

input[type="text"]:focus {
    border: 1px solid rgba(85, 85, 85, 0.3);
}

.input {
    margin: 5px;
}

.two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". .";
}

.two-grid>* {
    display: inline-flex;
    align-items: center;
}


.two-grid>:first-child {
    text-align: left;
}

.two-grid>:last-child {
    text-align: right;
    margin-left: auto;
}

input[type="radio"] {
    position: relative;
    margin: 5px;
    margin-right: 7px;
}

input[type="radio"]::before {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    left: -5px;
    top: -4px;
    position: absolute;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

input[type="radio"]::after {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    left: 1px;
    top: 2px;
    position: absolute;
    background: white;
}

input[type="radio"]:checked {
    display: inline;
}

input[type="radio"]:checked::after {
    background: rgb(0, 135, 193);
}

::selection {
    color: white;
    background: rgb(0, 135, 193);
  }

@media (prefers-color-scheme: dark) {

    html,
    body {
        background: #333;
        color: #bbb;
    }

    .container {
        background: #222;
    }

    .card {
        background: transparent;
    }

    .card>.title {
        background: #222;
    }

    #navigation {
        background: #222;
    }

    #navigation>.separator {
        background: #333;
    }

    #navigation>.element {
        box-shadow: 0 9px 19px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2);
    }

    #navigation>#settings.element {
        background: #333;
    }

    #navigation>#settings.element>img {
        filter: invert(8%) sepia(8%) saturate(0%) hue-rotate(347deg) brightness(94%) contrast(100%);
    }

    #controls {
        background: #222;
        border-bottom: 1px solid #333;
    }

    #controls>span.button {
        border: 5px solid #222;
    }

    #message-box>.container {
        background: #333;
    }

    #message-box .mb-buttons {
        border-top: 1px solid #222;
    }

    #vignette {
        box-shadow: inset 0 0 2px rgb(255, 255, 255, 0.2);
    }

    button {
        color: #bbb;
        background: #222;
        border: 1px solid rgb(51 51 51 / 50%);
    }

    input[type="text"] {
        color: #bbb;
        background: #222;
        border: 1px solid #222;
    }

    input[type="text"]:focus {
        border: 1px solid rgba(187, 187, 187, 0.3);
    }

    input[type="radio"]::before {
        background: #222;
    }

    input[type="radio"]::after {
        background: #222;
    }

    /*input[type="radio"]:checked::after {
        background: #777;
    }*/
}